<!DOCTYPE html>
<html>
  <head>
    <title>Bookers02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="slidemenu">
  <h1>Bookers</h1>
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
    <% if user_signed_in? %>

      <li class="nav-item">
        <%= link_to "Home", books_path %>
      </li>

      <li class="nav-item">
        <%= link_to "Users", "#" %>

      <li class="nav-item">
        <%= link_to "Books", "#" %>

      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete%>

      </li>

    <% else %>

      <li class="nav-item">
        <%= link_to "Home", books_path %>
      </li>

      <li class="nav-item">
        <%= link_to "About", "#" %>
      </li>
      <li class="nav-item">
        <%= link_to "sign up", new_user_registration_path %>
      </li>

      <li class="nav-item">
        <%= link_to "Login", new_user_session_path %>
      </li>

    <% end %>
  </ul>
</div>
 <%= yield %>
  </body>
</html>
